* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
}

#heading_container {
    background-color: red;
}

#heading {
    font-size: 40px;
    padding: 10px;
    font-weight: bold;
    text-align: center;
    color: white;
}

.stopwatch {
    width: 250px;
    height: 250px;
    font-size: 30px;
    font-weight: bold;
    margin: 50px auto;
    border-radius: 50%;
    text-align: center;
    line-height: 250px;
    box-shadow: 0px 0px 5px red  inset;
}


/* control button design */
.control {
    width: 250px;
    margin: 5px auto;
}

#start_button {
    width: 48%;
    padding: 10px;
    border: none;
    cursor: pointer;
    background-color: green;
}

#reset_button {
    width: 48%;
    float: right;
    padding: 10px;
    border: none;
    cursor: pointer;
    background-color: blue;
}

#stop_button {
    width: 100%;
    padding: 10px;
    border: none;
    display: block;
    margin-top: 10px;
    cursor: pointer;
    background-color: red;
}

footer{
    bottom: 0;
    width: 100%;
    position: absolute;
    background-color: red;
}

footer p {
    padding: 20px;
    text-align: center;
}

footer p a {
    color: white;
    text-align: center;
    text-decoration: none;
}

